body {
  background:linear-gradient(to right,#f70 0vw,#f70 10vw,#876 10vw,#876 90vw,#f70 90vw,#f70 100vw);
  height: 100vw;
}
.App {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: tan;
}
.contestPreview {
  text-align: left;
  width: 50vw;
  box-shadow: 0 0 1px 1px grey;
  border-radius: 10px;
  padding: 5px 8px;
  margin: 10px auto;
  background: linear-gradient(#765 50%, #876 50%);
  cursor: pointer;
}
hr {
  border: none;
  height: 1px;
  margin: 5px 0;
  background-color: black;
}
.categoryName {
  font-weight: 500;
}
.description {
  width: 50%;
  margin: auto;
}
a,a:visited {
  color: #8af;
}
button {
  border: none;
  height: 22px;
  background: black;
  color: white;
  font-size: 14px;
  border-radius: 6px;
}
button,input,textarea {
  width: 140px;
  margin: 4px auto;
}
