body {
  background:linear-gradient(to right,#f70 0vw,#f70 10vw,#876 10vw,#876 90vw,#f70 90vw,#f70 100vw);
}
.App {
  text-align: center;
  font-family: Helvetica, sans-serif;
  color: tan;
}
a,a:visited {
  color: #0aa;
}
main {
  margin: auto;
  width: 60vw;
  text-align: left;
  min-height: 67vh;
}
footer {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
footer .links {
  width: 120px;
}
.links {
  display: inline-block;
  border-radius: 5px;
  border: 1px solid #444;
  height: 20px;
  width: 100px;
  background-color: #876;
}
.list {
  display: grid;
  grid-template-columns: auto 2em auto;
}
.name,.buttons{display:inline-block;}
.name {
  text-align: right;
  grid-column: 1;
}
.buttons{grid-column: 3;}
/* .update {background-image: url('/edit_button.png');}
.delete {background-image: url('/delete_button.png');} */
.update, .delete {
  background-color: white;
  padding: 0;
  text-align: center;
  border: none;
  background-size: contain;
  width: 2em;
  height: 2em;
  border-radius: 50%;
}
.contestPreview {
  text-align: left;
  width: 50vw;
  box-shadow: 0 0 1px 1px grey;
  border-radius: 10px;
  padding: 5px 8px;
  margin: 10px auto;
  background: linear-gradient(#765 50%, #876 50%);
  cursor: pointer;
}
hr {
  border: none;
  height: 1px;
  margin: 5px 0;
  background-color: black;
}
.categoryName {
  font-weight: 500;
}
.description {
  width: 50%;
  margin: auto;
}
.submit {
  border: none;
  height: 22px;
  background: black;
  color: white;
  font-size: 14px;
  border-radius: 6px;
}
button,input,textarea {
  width: 140px;
  margin: 4px auto;
}
